.il-color--text_light{
    color: lightgray
}
.il-color--text_lighten{
    color: rgb(247, 232, 232)
}
.il-color--background__light{
    background: rgb(124, 66, 66);
    color: rgb(250, 233, 210);
}
